.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  margin-top: 20px;
}

.h1{

  margin-bottom: 20px;
}

.btn{
  all: unset;
  padding: 20px;
cursor: pointer;
  margin: 20px auto;
  min-width: 100px;
  color: white;
  border: 1px solid white;
  text-align: center;
  transition: .5s;
  font-size: 22px;
}
.btn:hover{
 transition: .5s;
 background-color: white;
 color:rgb(47, 47, 47)
}